:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     225,247,228;
--color-neutral-100:    165,231,174;
--color-neutral-200:    255,255,255;
--color-neutral-300:    255,255,255;
--color-neutral-400:    255,255,255;
--color-neutral-500:    19,71,26;
--color-neutral-600:    10,39,14;
--color-neutral-700:    2,7,2;
--color-neutral-800:    19,71,26;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    250,228,203;
--color-primary-400:    243,191,134;
--color-primary-500:    236,154,64;
--color-primary-600:    232,134,27;
--color-primary-700:    199,113,20;
--color-primary-800:    162,92,16;
--color-primary-900:    124,71,12;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    245,193,216;
--color-secondary-500:    235,127,175;
--color-secondary-600:    229,92,153;
--color-secondary-700:    224,56,131;
--color-secondary-800:    207,32,110;
--color-secondary-900:    172,27,91;
}