:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    225,246,226;
--color-neutral-200:    165,229,170;
--color-neutral-300:    106,212,114;
--color-neutral-400:    54,187,64;
--color-neutral-500:    37,128,44;
--color-neutral-600:    28,96,33;
--color-neutral-700:    19,65,22;
--color-neutral-800:    10,33,11;
--color-neutral-900:    0,1,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,245,230;
--color-primary-300:    255,214,153;
--color-primary-400:    255,184,77;
--color-primary-500:    255,153,0;
--color-primary-600:    214,129,0;
--color-primary-700:    173,104,0;
--color-primary-800:    133,80,0;
--color-primary-900:    92,55,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    241,243,221;
--color-secondary-400:    218,222,166;
--color-secondary-500:    195,201,110;
--color-secondary-600:    183,190,80;
--color-secondary-700:    160,167,62;
--color-secondary-800:    132,137,51;
--color-secondary-900:    103,108,40;
}