:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    255,255,255;
--color-neutral-300:    255,255,255;
--color-neutral-400:    255,255,255;
--color-neutral-500:    230,243,231;
--color-neutral-600:    202,230,205;
--color-neutral-700:    175,217,178;
--color-neutral-800:    147,203,152;
--color-neutral-900:    120,190,125;
--color-primary-50:     220,248,222;
--color-primary-100:    156,235,163;
--color-primary-200:    92,223,103;
--color-primary-300:    39,199,53;
--color-primary-400:    27,135,36;
--color-primary-500:    14,71,19;
--color-primary-600:    7,37,10;
--color-primary-700:    1,3,1;
--color-primary-800:    0,0,0;
--color-primary-900:    0,0,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    250,223,188;
--color-secondary-400:    245,188,116;
--color-secondary-500:    240,154,45;
--color-secondary-600:    228,135,16;
--color-secondary-700:    190,112,14;
--color-secondary-800:    152,90,11;
--color-secondary-900:    114,67,8;
}